#container{ 
    border: 2px solid orange;
    height: 40px;
    width: 250px;
}
#square{
    border: 2px solid red;
    background: red;
    width: 40px;
    height: 37px;
    position: absolute;
    margin-left: 0px;
    animation: anim 3s linear infinite ;
}

@keyframes anim {
    from{ 
        margin-left: 0px;
    }
    to{
        margin-left: 100px}
    }

#heart{ 
    width: 150px;
    transition: 2s;
    filter: grayscale(1);
 }
 #heart:hover{
    filter: grayscale(0);
    width: 250px;
 }

 #contanier2{ 
    border: 2px solid red;
    height: 500px;
 }

 #book{
    width: 150px;
    margin-top: 250px;
    animation: movbook 2s ease forwards;
    position: absolute;
    
 }

 @keyframes movbook{
    from{ 
        margin-top: 300px;
        
    }
    to{
        margin-top:0px;
        rotate: 360deg;

    }
 }

 #calc{ 
    width: 150px;
    margin-left: 130px;
    margin-top: 250px;
    animation: movcalc 2s ease forwards;
    position: absolute;
 }

 @keyframes movcalc{
    from{ 
        margin-top: 300px;
        
    }
    to{
        margin-top: 0px;
        rotate: 360deg;

    }
 }