#container{ 
    border: 2px solid orange;
    height: 40px;
    width: 250px;
}
#square{
    border: 2px solid red;
    background: red;
    width: 40px;
    height: 37px;
    position: absolute;
    margin-left: 0px;
    animation: anim 3s linear infinite ;
}

@keyframes anim {
    from{ 
        margin-left: 0px;
    }
    to{
        margin-left: 100px}
    }

#heart{ 
    width: 150px;
    transition: 2s;
    filter: grayscale(1);
 }
 #heart:hover{
    filter: grayscale(0);
    width: 250px;
 }